<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ call }}

<li>{{ transfer2 }}</li>>
{{a}}

<ul>
    {% for player in rma %}
<li><p>{{ player }}</p></li>
    {% endfor %}

    {% for key,value in rma2 %}
 <tr>
     <p><li>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
     </p></li>
 </tr>
    {% endfor %}
</ul>

<table border="1"cellpadding="5px">
    <tr style = 'background:cornflowerblue;colar:white'>
        {% for player in all_last_names %}
            <tr style = 'background:cornflowerblue;colar:white'>
                <th> {{ player.id }} </th>
                <th> {{ player.last_names }} </th>
            <th> {{ player.price }} mil </th>
            <th> {{ player.age }} age </th>
            <th> {{ player.club }} </th>
            </tr>
        {% endfor %}
        {{ all_last }}
    </tr>
</table>

{#<table>#}
{#    {% for players in id %}#}
{#     <tr style = 'background:darkred;colar:black'>#}
{#        <th> {{ players.last_names }} </th>#}
{#    {% endfor %}#}
{#<table/>#}

{#{% for player in id %}#}
{#    <a href="{{ player.id }}">{{ player.last_names }}</a>#}
{#{% endfor %}#}

{#<li><a href="{% url 'get_player' players.id %}">{{ players.last_names }}</a></li>#}






</body>
</html>