<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ call }}

<li>{{ transfer2 }}</li>>
{{a}}

<ul>
    {% for player in rma %}
<li><p>{{ player }}</p></li>
    {% endfor %}

    {% for key,value in rma2 %}
 <tr>
     <p><li>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
     </p></li>
 </tr>
    {% endfor %}
</ul>

<table border="1"cellpadding="5px">
    <tr style = 'background:cornflowerblue;colar:white'>
        {% for last_names in all_last_names %}
            <th> {{ last_names }} </th>
        {% endfor %}

    </tr>
</table>







</body>
</html>